<!--<div class="section__header">-->
    <div class="section__title">
    {{text}}
    </div>

    <div class="section__header-img-first">
        <a class="button_1">
            <img src="%=static=%img/assets/section/Subtract_1.png"  />
        </a>
        <a class="button_2" >
            <img src="%=static=%img/assets/section/Subtract_2.png" alt="" />
        </a>
    </div>
</div>
<div class="section__header-cards">
    <div class="section__header-card">
   <img src="%=static=%img/assets/section/image_1.png" class="section__header-image" alt="">
    <img src="%=static=%img/assets/section/image_2.png" class="section__header-image" alt="">
    <img src="%=static=%img/assets/section/image_3.png" class="section__header-image" alt="">
</div>
<!--</div>-->
