
    <div class="section__body-images">
        <img class="section__body-image" src="%=static=%img/assets/news/image_4.png"  alt="">
    </div>
<div class="news">
    <div class="news__item-title">
        Просторные квартиры с гардеробными→
    </div>
    <div class="news__item">
        Жилой комплекс "Новый город" расположен в одном из самых
        развивающихся районов Обнинск - Заовражье. Несмотря на близость к
        центру ( 5 минут езды до ТРК "Триумф Плаза"), место здесь тихое и
        спокойное
    </div>
    <div class="news__item">
        Архитектура и дизайн комплекса - яркий пример удачного сочетания
        классических традиций строительства с современными материалами и
        технологиями. Территория микрорайона разделена на ряд
        благоустроенных зон с детскимии игровыми площадками, спортивными
        тренажерами и прогулочными дорожками
    </div>
</div>

